%footer.footer#contact
  .container
    .row
      .col-lg-6.margin-btm-30.need-help
        %h3 Need Help?

        %p
          Call Us:
          %br
          %i.ion-android-call
          714-596-3500
        %p
          Connect With Us:
          %br
          %br
          %iframe{:allowtransparency => "true", :frameborder => "0", :scrolling => "no", :src => "https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Frjmcinc%2F&width=340&height=200&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=1615538905355204", :style => "border:none;overflow:hidden", :width => "340"}

      .col-lg-6
        %h3 Contact Us
        .contact-form
          = form_for @contact, url: contacts_path do |f|
            .form-group
              = f.label :name
              %br/
              = f.text_field :name, class: 'form-control', required: true

            .form-group
              = f.label :email
              %br/
              = f.email_field :email, class: 'form-control', required: true

            .form-group
              = f.label :message
              %br/
              = f.text_area :message, class: 'form-control', required: true

            = f.submit 'Send Message', class: 'btn btn-success'

    %hr/
    .row.bottom-row
      .col-lg-5
        %span © #{Time.now.year}. All Right Reserved.
