= render partial: 'shared/nav'

/ start master slider
.clearfix
.slider-main{:style => "overflow: hidden;"}
  / Master Slider
  #masterslider.master-slider.ms-skin-default
    / slide 1
    .ms-slide.slide-1{"data-delay" => "14"}
      / slide background
      = image_tag 'blank.gif', data: { src: image_path('bg-1.jpg') }
      %h3.ms-layer.sub-title3.text-center.white.text-uppercase{"data-delay" => "1000", "data-duration" => "2000", "data-ease" => "easeOutExpo", "data-effect" => "rotate3dtop(-100,0,0,40,t)", "data-type" => "text", :style => "left:150px; top:200px;"} Lorem ipsum dolor sit amet.
      %h3.ms-layer.title2.text-uppercase.text-center{"data-delay" => "1500", "data-duration" => "2500", "data-ease" => "easeOutExpo", "data-effect" => "rotate3dtop(-100,0,0,40,t)", "data-type" => "text", :style => "left:150px;top: 260px;"} Lorem ipsum dolor sit amet.
      %h5.ms-layer.sub-title2.text-uppercase{"data-delay" => "2000", "data-duration" => "3000", "data-ease" => "easeOutExpo", "data-effect" => "bottom(45)", "data-type" => "text", :style => "left:150px; top: 330px;"} Lorem ipsum dolor sit amet.
    / end of slide
    / slide 2
    .ms-slide.slide-2{"data-delay" => "14"}
      / slide background
      = image_tag 'blank.gif', data: { src: image_path('bg-2.jpg') }
      %h3.ms-layer.sub-title3.text-uppercase{"data-delay" => "1000", "data-duration" => "2000", "data-ease" => "easeOutExpo", "data-effect" => "rotate3dtop(-100,0,0,40,t)", "data-type" => "text", :style => "left:110px; top:205px;"} Lorem ipsum
      %h3.ms-layer.title2.text-uppercase{"data-delay" => "1500", "data-duration" => "2500", "data-ease" => "easeOutExpo", "data-effect" => "rotate3dtop(-100,0,0,40,t)", "data-type" => "text", :style => "left:110px;top: 260px;"} Lorem ipsum dolor sit amet.
      %h5.ms-layer.sub-title2.text-uppercase{"data-delay" => "2000", "data-duration" => "3000", "data-ease" => "easeOutExpo", "data-effect" => "bottom(45)", "data-type" => "text", :style => "left:110px; top:330px;"} Lorem ipsum dolor sit amet.
    / end of slide
    / slide 1
    .ms-slide.slide-2{"data-delay" => "14"}
      / slide background
      = image_tag 'blank.gif', data: { src: image_path('bg-3.jpg') }
      %h3.ms-layer.sub-title2.full-wid.text-center.text-uppercase{"data-delay" => "1000", "data-duration" => "2000", "data-ease" => "easeOutExpo", "data-effect" => "rotate3dtop(-100,0,0,40,t)", "data-type" => "text", :style => "left:0; top:200px;"} Lorem ipsum dolor sit amet.
      %h3.ms-layer.title2.one.full-wid.font-sbold.white.text-uppercase.text-center{"data-delay" => "1500", "data-duration" => "2500", "data-ease" => "easeOutExpo", "data-effect" => "rotate3dtop(-100,0,0,40,t)", "data-type" => "text", :style => "left:0;top: 250px;"} Lorem ipsum dolor sit amet.
      %h5.ms-layer.sub-title2.full-wid.white.text-uppercase.text-center{"data-delay" => "2000", "data-duration" => "3000", "data-ease" => "easeOutExpo", "data-effect" => "bottom(45)", "data-type" => "text", :style => "left:0px; top: 330px;"} Lorem ipsum dolor sit amet.
    / end of slide
/ end Master Slider

.space80
.container
  .row.vertical-align-child
    .col-lg-5.hidden-xs.wow.animated.fadeInUp{"data-wow-delay" => "0.3s"}
      = image_tag 'placeholder.png', class: 'img-fluid'
    .col-lg-6.ml-auto.wow.animated.fadeInUp{"data-wow-delay" => "0.6s"}
      %h1
        Sed eros nisi, efficitur ve
        %span.color_text tristique et
        vulputate sit amet tellus
      .border-width
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      %hr/
      .buttons
        %a.btn.btn-xl.btn-skin{:href => "#"} Consectetur
        %a.btn.btn-xl.btn-dark{:href => "#"} Adipiscing Elit
  .space40
  .row
    .col-lg-4.margin-btm-30.text-center
      .icon-box.clearfix.wow.animated.fadeIn{"data-wow-delay" => "0.3s"}
        %i.flaticon-excavator-machine-arm
        .content
          %h4.text-uppercase Cras ultrices
          .border-width
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    / end col
    .col-lg-4.margin-btm-30.text-center
      .icon-box.clearfix.wow.animated.fadeIn{"data-wow-delay" => "0.6s"}
        %i.flaticon-construction-crane-machine-1
        .content
          %h4.text-uppercase Quis nibh
          .border-width
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    / end col
    .col-lg-4.margin-btm-30.text-center
      .icon-box.clearfix.wow.animated.fadeIn{"data-wow-delay" => "0.9s"}
        %i.flaticon-construction-excavator
        .content
          %h4.text-uppercase Dignissim fermentum
          .border-width
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    / end col
/ end intro section
.space50
.gray-bg
  .space80
  .container
    .center-title.margin-btm-50
      %h1 Vivamus ac dui
      .border-width.center-align
    / center title end
    .owl-carousel.owl-theme.service-slider
      .item
        .service-box
          .service-thumb
            %a{:href => "#"}
              = image_tag 's1.jpg', class: 'img-fluid'
          .service-desc
            %h4.text-uppercase Curabitur sodales
            .border-width
            %p
              Sed ut perspiciatis unde omnis doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .text-right
              %a.btn.btn-link{:href => "#"} Curabitur volutpa
      / services col end
      .item
        .service-box
          .service-thumb
            %a{:href => "#"}
              = image_tag 's2.jpg', class: 'img-fluid'
          .service-desc
            %h4.text-uppercase Vivamus dapibus
            .border-width
            %p
              Sed ut perspiciatis unde omnis doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .text-right
              %a.btn.btn-link{:href => "#"} Curabitur volutpa
      / services col end
      .item
        .service-box
          .service-thumb
            %a{:href => "#"}
              = image_tag 's3.jpg', class: 'img-fluid'
          .service-desc
            %h4.text-uppercase Totam rem
            .border-width
            %p
              Sed ut perspiciatis unde omnis doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .text-right
              %a.btn.btn-link{:href => "#"} Curabitur volutpa
      / services col end
    / services row end
  .space50
  .text-center
    %a.btn.btn-xl.btn-skin{:href => "#"}
      Curabitur volutpa
      %i.ion-android-arrow-forward
  .space80
/ end gray bg with services

= render partial: 'shared/testimonials'

= render partial: 'shared/hours'

= render partial: 'shared/footer'

= render partial: 'shared/scroll_top'
