= render partial: 'shared/nav'

= render partial: 'shared/master_slider'

= render partial: 'shared/about'

= render partial: 'shared/services'

= render partial: 'shared/hours'

= render partial: 'shared/footer'

= render partial: 'shared/scroll_top'
